.calculator {
    width: 150px;
    text-align: center;
    color: #999;
}

.result {
    font-size: 3.0em;
    font-weight: bold;
    color: red;

}

.operator1 {
    font-size: 1.5em;
    font-weight: bold;
    color: black;

}

.operator2 {
    font-size: 1.5em;
    font-weight: bold;
    color: blue;
}

.op-button {
    padding: 0.1em 0.3em;
    font-size: 1.3em;

    cursor: pointer;
}

.addition-button {
    color: blue;
}

.substraction-button {
    color: green;
}

.multiplication-button {
    color: red;
}

.division-button {
    color: yellow;
}
